.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-container-with-artists {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cards-body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefefe;
    line-height: 1.5;
}

h3 {
    margin-top: auto;
}

.cards-container {
    max-width: 100%;
    margin: 0 auto;
}

.cards-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    align-self: normal;
    cursor: pointer;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.img {
    max-width: 200px;
}