.title {
    margin: 40px;
    color:  rgb(58, 213, 20);
    font-size: 40px;
}

.albums-body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefefe;
    line-height: 1.5;
}

h2 {
    margin-top: auto;
}

.albums-container {
    max-width: 100%;
    margin: 0 auto;
}

.albums-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around
}

.album {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    padding: 20px 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    align-self: normal;
    border-radius: 15px;
    width: 300px;
    height: 420;
}

.album:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.img {
    max-width: 260px;
    max-height: 220px;
    border-radius: 15px;
}

.preview {
    margin-top: auto;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-align: center;
    background-color: rgb(58, 213, 20);
    border-radius: 15px;
    font-weight: bold;
    font-style: italic;
}

.preview:hover {
    background-color: rgb(102, 223, 72);
}